.content {
	margin-right: 15px;
	margin-left: 15px;
}

.container {
	margin-bottom: 20px;
}

body {
	overflow-x: hidden;
	background-image: url(../ke01_img/body-bg.png);
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
	color: #373737;
	font-family: 'Microsoft YaHei',sans-serif;
}

h1>a {
	color: #373737;
	font-family: 'Microsoft YaHei',sans-serif;
}

h2>a {
	color: #373737;
	font-family: 'Microsoft YaHei',sans-serif;
}

h3>a {
	color: #373737;
	font-family: 'Microsoft YaHei',sans-serif;
}

h4>a {
	color: #373737;
	font-family: 'Microsoft YaHei',sans-serif;
}

h5>a {
	color: #373737;
	font-family: 'Microsoft YaHei',sans-serif;
}

h6>a {
	color: #373737;
	font-family: 'Microsoft YaHei',sans-serif;
}

span {
	color: #8a8a8a;
	font-family: 'Microsoft YaHei',sans-serif;
}

body {
	color: #6b6b6b;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
}

input {
	font-family: 'Microsoft YaHei',sans-serif;
}

li,ul {
	color: #8a8a8a;
}

a {
	color: #e34e47;
}

em {
	color: #8a8a8a;
}

blockquote {
	color: #8a8a8a !important;
}

.filtrable-caption {
	color: #8a8a8a;
}

.portfolio-tem-full-width a {
	color: #8a8a8a;
}

.portfolio-item-thumb a {
	color: #8a8a8a;
}

.dropcaps {
	color: #333;
}

.field-title {
	color: #333;
}

.shadow {
	text-shadow: 0 1px 0 #fff;
}

.icon {
	background-color: #262428;
}

.bg-orange {
	background-color: #e34e47;
	color: #fff !important;
}

.bg-yellow {
	background-color: #ffd100;
	color: inherit;
}

.bg-green {
	background-color: #518900;
	color: #fff !important;
}

.bg-gray {
	background-color: #424242;
	color: #fff !important;
}

.bg-light-gray {
	background-color: rgba(0,0,0,0.1);
	color: #333 !important;
}

.bg-dark-gray {
	background-color: rgba(0,0,0,0.7);
	color: #fff !important;
}

.bg-light {
	background-color: rgba(0,0,0,0.05);
	color: #333 !important;
}

.quote em {
	display: block;
	font-weight: 400;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
	line-height: 18px;
}

.quote strong {
	display: block;
	text-align: right;
	font-size: 12px;
}

.quote-icon {
	margin-top: 10px;
	font-weight: 400;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
	line-height: 18px;
}

.quote-icon em span {
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}

.quote-icon strong {
	display: block;
	text-align: right;
	font-size: 12px;
}

.show-toggle-v5 {
	background-image: url(../ke01_img/minus.png);
}

.hide-toggle-v5 {
	background-image: url(../ke01_img/plus.png);
}

.toggle-v5 a {
	color: #999 !important;
	text-transform: uppercase;
	font-weight: 400 !important;
	font-size: 14px;
	font-family: 'Microsoft YaHei',sans-serif !important;
}

.toggle-container-v5 {
	background-color: #fff;
	color: #9a9a9a !important;
}

.show-toggle-v4 {
	background-image: url(../ke01_img/delete_16.png);
}

.hide-toggle-v4 {
	background-image: url(../ke01_img/plus_16.png);
}

.toggle-v4 a {
	color: #999 !important;
	text-transform: uppercase;
	font-weight: 400 !important;
	font-size: 14px;
	font-family: 'Microsoft YaHei',sans-serif !important;
}

.toggle-container-v4 {
	background-color: #fff;
	color: #9a9a9a !important;
}

.show-toggle-v3 {
	background-image: url(../ke01_img/switch-on.png);
}

.hide-toggle-v3 {
	background-image: url(../ke01_img/switch-off.png);
}

.toggle-v3 a {
	color: #999 !important;
	text-transform: uppercase;
	font-weight: 400 !important;
	font-size: 14px;
	font-family: 'Microsoft YaHei',sans-serif !important;
}

.toggle-container-v3 {
	background-color: #fff;
	color: #9a9a9a !important;
}

.show-toggle-v2 {
	background-image: url(../ke01_img/delete_16.png);
}

.hide-toggle-v2 {
	background-image: url(../ke01_img/plus_16.png);
}

.toggle-v2 a {
	color: #999 !important;
	text-transform: uppercase;
	font-weight: 400 !important;
	font-size: 14px;
	font-family: 'Microsoft YaHei',sans-serif !important;
}

.toggle-container-v2 {
	background-color: #fff;
	color: #9a9a9a !important;
}

.show-toggle-v1 {
	background-image: url(../ke01_img/minus.png);
}

.hide-toggle-v1 {
	background-image: url(../ke01_img/plus.png);
}

.toggle-v1 a {
	color: #999 !important;
	text-transform: uppercase;
	font-weight: 400 !important;
	font-size: 14px;
	font-family: 'Microsoft YaHei',sans-serif !important;
}

.toggle-container-v1 {
	background-color: #fff;
	color: #9a9a9a !important;
}

.checker {
	color: #9a9a9a !important;
}

.checkbox-v1 {
	background-image: url(../ke01_img/checkbox.png);
}

.checked-v1 {
	background-image: url(../ke01_img/checkbox-selected.png) !important;
}

.checkbox-v2 {
	background-image: url(../ke01_img/checkbox2.png);
}

.checked-v2 {
	background-image: url(../ke01_img/checkbox2-selected.png) !important;
}

.checkbox-v3 {
	background-image: url(../ke01_img/empty.png);
}

.checked-v3 {
	background-image: url(../ke01_img/cross.png) !important;
}

.checkbox-v4 {
	background-image: url(../ke01_img/empty.png);
}

.checked-v4 {
	background-image: url(../ke01_img/tick.png) !important;
}

.radio-v1 {
	background-image: url(../ke01_img/radio.png);
}

.balled-v1 {
	background-image: url(../ke01_img/radio-selected.png) !important;
}

.radio-v2 {
	background-image: url(../ke01_img/radio2.png);
}

.balled-v2 {
	background-image: url(../ke01_img/radio2-selected.png) !important;
}

.demo {
	margin-bottom: 3px;
	margin-left: 3px;
}

.list-address {
	background-image: url(../ke01_img/address_16.png);
}

.list-block {
	background-image: url(../ke01_img/block_16.png);
}

.list-bookmark {
	background-image: url(../ke01_img/bookmark_16.png);
}

.list-briefcase {
	background-image: url(../ke01_img/briefcase_16.png);
}

.list-bubble {
	background-image: url(../ke01_img/bubble_16.png);
}

.list-buy {
	background-image: url(../ke01_img/buy_16.png);
}

.list-calendar {
	background-image: url(../ke01_img/calendar_16.png);
}

.list-clipboard {
	background-image: url(../ke01_img/clipboard_16.png);
}

.list-delete {
	background-image: url(../ke01_img/delete_16.png);
}

.list-clock {
	background-image: url(../ke01_img/clock_16.png);
}

.list-diagram {
	background-image: url(../ke01_img/diagram_16.png);
}

.list-document {
	background-image: url(../ke01_img/document_16.png);
}

.list-down {
	background-image: url(../ke01_img/down_16.png);
}

.list-flag {
	background-image: url(../ke01_img/flag_16.png);
}

.list-folder {
	background-image: url(../ke01_img/folder_16.png);
}

.list-gear {
	background-image: url(../ke01_img/gear_16.png);
}

.list-globe {
	background-image: url(../ke01_img/globe_16.png);
}

.list-heart {
	background-image: url(../ke01_img/heart_16.png);
}

.list-help {
	background-image: url(../ke01_img/help_16.png);
}

.list-home {
	background-image: url(../ke01_img/home_16.png);
}

.list-key {
	background-image: url(../ke01_img/key_16.png);
}

.list-label {
	background-image: url(../ke01_img/label_16.png);
}

.list-left {
	background-image: url(../ke01_img/left_16.png);
}

.list-letter {
	background-image: url(../ke01_img/letter_16.png);
}

.list-monitor {
	background-image: url(../ke01_img/monitor_16.png);
}

.list-pencil {
	background-image: url(../ke01_img/pencil_16.png);
}

.list-plus {
	background-image: url(../ke01_img/plus_16.png);
}

.list-present {
	background-image: url(../ke01_img/present_16.png);
}

.list-print {
	background-image: url(../ke01_img/print_16.png);
}

.list-right {
	background-image: url(../ke01_img/right_16.png);
}

.list-save {
	background-image: url(../ke01_img/save_16.png);
}

.list-shield {
	background-image: url(../ke01_img/shield_16.png);
}

.list-statistics {
	background-image: url(../ke01_img/statistics_16.png);
}

.list-stop {
	background-image: url(../ke01_img/stop_16.png);
}

.list-tick {
	background-image: url(../ke01_img/tick_16.png);
}

.list-trash {
	background-image: url(../ke01_img/trash_16.png);
}

.list-up {
	background-image: url(../ke01_img/up_16.png);
}

.list-user {
	background-image: url(../ke01_img/user_16.png);
}

.list-walet {
	background-image: url(../ke01_img/wallet_16.png);
}

.list-warning {
	background-image: url(../ke01_img/warning_16.png);
}

.header-notification {
	background-color: #000;
	color: #fff;
	text-align: left;
	font-size: 12px;
}

.header-notification strong {
	color: #666;
}

.warning-notification em {
	background-image: url(../ke01_img/warning_16.png);
}

.close-notification em {
	background-image: url(../ke01_img/delete_16.png);
}

.heart-notification em {
	background-image: url(../ke01_img/heart_16.png);
}

.calendar-notification em {
	background-image: url(../ke01_img/calendar_16.png);
}

.info-notification em {
	background-image: url(../ke01_img/info_16.png);
}

.fullscreen-button {
	display: block;
	box-sizing: border-box;
	width: 99%;
	text-align: center;
}

.button,.button-minimal {
	margin-top: 10px;
	margin-bottom: 20px;
}

.demo-button {
	margin-right: 3px;
	margin-left: 3px;
}

.slider-heading {
	margin-top: -10px;
	padding-bottom: 10px;
	color: gray;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
}

.slider-wrapper {
	display: block !important;
	height: auto;
	max-width: 100% !important;
	border: solid 1px rgba(0,0,0,0.2);
}

.slider-container {
	display: block !important;
	max-width: 100% !important;
	border: solid 4px #fff;
}

.swipe-img {
	display: block !important;
	width: 100% !important;
	height: auto;
}

.swipe-text {
	position: relative;
	z-index: 9999;
	margin-top: -50px;
	padding-top: 6px;
	padding-bottom: 15px;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	color: #FFF !important;
	text-shadow: none;
	font-weight: 400;
	font-size: 12px !important;
}

.no-detected-background {
	background-image: none !important;
}

.iphone-detected {
	background-image: url(../ke01_img/iphone4.png);
	background-position: 4px 4px !important;
	background-size: 45px 45px;
	background-repeat: no-repeat;
}

.ipod-detected {
	background-image: url(../ke01_img/ipodclassic.png);
	background-position: 4px 4px !important;
	background-size: 45px 45px;
	background-repeat: no-repeat;
}

.android-detected {
	background-image: url(../ke01_img/android.png);
	background-position: 4px 4px !important;
	background-size: 45px 45px;
	background-repeat: no-repeat;
}

.ipad-detected {
	background-image: url(../ke01_img/ipad2.png);
	background-position: 4px 4px !important;
	background-size: 45px 45px;
	background-repeat: no-repeat;
}

.small-notification {
	margin-bottom: 20px;
}

.green-notification p {
	display: inline-block;
	padding-left: 30px;
	height: 16px;
	background-image: url(../ke01_img/tick_16.png);
	background-repeat: no-repeat;
	color: #060;
}

.red-notification p {
	display: inline-block;
	padding-left: 30px;
	height: 16px;
	background-image: url(../ke01_img/delete_16.png);
	background-repeat: no-repeat;
	color: #C00;
}

.blue-notification p {
	display: inline-block;
	padding-left: 30px;
	height: 16px;
	background-image: url(../ke01_img/info_16.png);
	background-repeat: no-repeat;
	color: #039;
}

.yellow-notification p {
	display: inline-block;
	padding-left: 30px;
	height: 16px;
	background-image: url(../ke01_img/warning_16.png);
	background-repeat: no-repeat;
	color: #F90;
}

.red-box {
	border: 1px solid #e9b9bb;
	background-color: #ffdcdd;
}

.red-box a {
	padding-top: 3px;
	color: #8d4345;
	font-weight: bold;
}

.red-box h4 {
	color: #8d4345;
	text-shadow: none;
	font-weight: 400;
	font-size: 14px;
}

.red-box p {
	margin-top: 8px;
	padding-top: 15px;
	border-top: 1px solid #e9b9bb;
	color: #c19597;
}

.yellow-box {
	border: 1px solid #e9e1b9;
	background-color: #fffcdc;
}

.yellow-box a {
	padding-top: 3px;
	color: #c2b925;
	font-weight: bold;
}

.yellow-box h4 {
	color: #c2b925;
	text-shadow: none;
	font-weight: 400;
	font-size: 14px;
}

.yellow-box p {
	margin-top: 8px;
	padding-top: 15px;
	border-top: 1px solid #e9e1b9;
	color: #ccc894;
}

.green-box {
	border: 1px solid #d9e9b9;
	background-color: #e3ffdc;
}

.green-box a {
	padding-top: 3px;
	color: #7b8a77;
	font-weight: bold;
}

.green-box h4 {
	color: #7b8a77;
	text-shadow: none;
	font-weight: 400;
	font-size: 14px;
}

.green-box p {
	margin-top: 8px;
	padding-top: 15px;
	border-top: 1px solid #d9e9b9;
	color: #abc0a6;
}

.blue-box {
	border: 1px solid #b9d9e9;
	background-color: #dcf9ff;
}

.blue-box a {
	padding-top: 3px;
	color: #90a9b2;
	font-weight: bold;
}

.blue-box h4 {
	color: #90a9b2;
	text-shadow: none;
	font-weight: 400;
	font-size: 14px;
}

.blue-box p {
	margin-top: 8px;
	padding-top: 15px;
	border-top: 1px solid #b9d9e9;
	color: #90a9b2;
}

#twitter-feed {
	color: #333;
	font-size: 10px;
}

#twitter-feed .tweet {
	border-bottom: 1px dotted #ccc;
}

#twitter-feed .tweet .time {
	color: #666;
	font-style: italic;
	font-size: 10px;
}

#twitter-feed h1 {
	margin-bottom: -10px;
}

#twitter-feed h2 {
	margin-bottom: -10px;
}

#twitter-feed h3 {
	margin-bottom: -10px;
}

#twitter-feed h4 {
	margin-bottom: -10px;
}

#twitter-feed h5 {
	margin-bottom: -10px;
}

.contactField {
	border: solid 1px #cacaca;
	background-color: rgba(255,255,255,0.4);
	color: #666;
	font-size: 12px;
}

.contactTextarea {
	border: solid 1px #cacaca;
	background-color: rgba(255,255,255,0.4);
	color: #666;
	font-size: 12px;
}

.sign-in-form {
	margin-bottom: 20px;
	border: solid 1px #cacaca;
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 0 5px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 0 5px rgba(0,0,0,0.1);
}

.username-password-field {
	display: block;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	height: 30px;
	border: solid 1px #cacaca;
	color: #9a9a9a;
	font-size: 12px;
}

.decoration {
	display: block;
	margin-bottom: 20px;
	height: 1px;
	background-color: rgba(0,0,0,0.15);
}

.code {
	margin-bottom: 30px;
	border: solid 1px #cacaca;
	font-size: 12px;
}

.wline {
	display: block;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	background-color: #fff;
}

.code>span:last-child {
	border-bottom: 0;
}

.gline {
	display: block;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	border-top: solid 1px rgba(0,0,0,0.1);
	border-bottom: solid 1px rgba(0,0,0,0.1);
	background-color: #f1f1f1;
}

.filtrable-caption {
	margin-bottom: 0 !important;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #3c3c3c;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px !important;
}

.gallery-filtrable {
	margin-top: 10px;
}

.filtrable-button {
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
	font-size: 12px;
}

.filtrable-button:hover {
	text-decoration: underline;
}

.portfolio-item-full-width a {
	margin-bottom: 10px;
	padding: 5px;
	border: solid 1px #cacaca;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
}

.filtrable-caption {
	color: #fff;
}

.portfolio-item-thumb a {
	margin-bottom: 10px;
	padding: 5px;
	border: solid 1px #cacaca;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
}

@media screen and (orientation:portrait) {
	.post-image img {
		display: block;
		max-width: 100%;
	}
}

@media screen and (orientation:landscape) {
	.post-image {
		float: left;
		margin-right: 10px;
		width: 130px;
	}
}

.post-details {
	display: block;
	width: 100%;
}

.blog-post-image {
	display: block;
	overflow: visible !important;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 4px;
	max-width: 100%;
	border: solid 1px #cacaca;
	background-color: #fff;
}

.blog-post p {
	margin-bottom: 10px;
}

.posted-by {
	float: left;
	margin-bottom: 5px;
	padding-right: 20px;
	padding-left: 25px;
	background-image: url(../ke01_img/user.png);
	background-position: 0 4px;
	background-repeat: no-repeat;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
}

.posted-at {
	float: left;
	margin-bottom: 5px;
	padding-right: 20px;
	padding-left: 25px;
	background-image: url(../ke01_img/time.png);
	background-position: 0 4px;
	background-repeat: no-repeat;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
}

.posted-cat {
	float: left;
	margin-bottom: 5px;
	padding-right: 20px;
	padding-left: 25px;
	background-image: url(../ke01_img/cat.png);
	background-position: 0 4px;
	background-repeat: no-repeat;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
}

.posted-tag {
	float: left;
	margin-bottom: 5px;
	padding-right: 20px;
	padding-left: 25px;
	background-image: url(../ke01_img/tag.png);
	background-position: 0 4px;
	background-repeat: no-repeat;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
}

.posted-more {
	float: left;
	margin-bottom: 5px;
	padding-right: 20px;
	padding-left: 25px;
	background-image: url(../ke01_img/more.png);
	background-position: 0 4px;
	background-repeat: no-repeat;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
}

.ads img {
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	padding: 3px;
	border: solid 1px #cacaca;
	background-color: #fff;
}

.ads {
	margin: auto;
	width: 290px;
}

.recent-post img {
	float: left;
	margin-right: 10px;
	padding: 3px;
	width: 90px;
	height: 90px;
	border: solid 1px #cacaca;
	background-color: #fff;
}

.recent-post strong {
	display: inline-block;
	padding-bottom: 5px;
	font-size: 14px;
}

.recent-post a {
	float: right;
	display: inline-block;
	padding-top: 5px;
}

.speach-left {
	border: solid 1px #cacaca;
	background-color: #fff;
}

.speach-right {
	border: solid 1px #cacaca;
	background-color: #fff;
}

.speach-left-title {
	color: #000;
	text-shadow: 0 1px 0 #fff;
}

.speach-right-title {
	color: #000;
	text-shadow: 0 1px 0 #fff;
}

.dropdown-deploy {
	border: solid 1px #cacaca;
	border-bottom: none !important;
	background-color: #fff;
	background-repeat: no-repeat;
	color: #333;
}

.dropdown-hidden {
	border: solid 1px #cacaca;
	border-bottom: none !important;
	background-color: #fff;
	background-repeat: no-repeat;
	color: #333;
}

.dropdown-item {
	border: solid 1px #cacaca;
	border-bottom: none !important;
	background-color: #fff;
}

.responsive-video {
	display: block;
	width: 100%;
}
