<gzinclude file="../../../../Template/default/Common/ucheader.html">
<body class="gray-bg">
    <link href="<gz$smarty.const.__TPUBLIC__>/css/plugins/iCheck/custom.css" rel="stylesheet">

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">写信</a>
                            <div class="space-25"></div>
                            <h5>文件夹</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>
                                    <a href="mailbox.html"> <i class="fa fa-inbox "></i> 收件箱 <span class="label label-warning pull-right" id="mailnum"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailbox.html"> <i class="fa fa-envelope-o"></i> 发信</a>
                                </li>
                                <li>
                                    <a href="mailbox.html"> <i class="fa fa-certificate"></i> 重要</a>
                                </li>
                                <li>
                                    <a href="mailbox.html"> <i class="fa fa-file-text-o"></i> 草稿 <span class="label label-danger pull-right">2</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailbox.html"> <i class="fa fa-trash-o"></i> 垃圾箱</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 animated fadeInRight">
                <div class="mail-box-header">
                    <div class="pull-right tooltip-demo">
                        <a href="mail_compose.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="回复"><i class="fa fa-reply"></i> 回复</a>
                        <a href="mail_detail.html#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="打印邮件"><i class="fa fa-print"></i> </a>
                        <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="标为垃圾邮件"><i class="fa fa-trash-o"></i> </a>
                    </div>
                    <h2>
                    查看邮件
                </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <h3>
                        <span class="font-noraml">主题： </span><gz$mes.title>
                    </h3>
                        <h5>
                        <span class="pull-right font-noraml"><gz$mes.date></span>
                        <span class="font-noraml">发件人： </span><gz$mes.from_nickname>(ID:<gz$mes.from_uid>)
                    </h5>
                    </div>
                </div>
                <div class="mail-box">
                    <div class="mail-body"><gz$mes.content></div>
                    <div class="mail-body text-right tooltip-demo">
                        <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="fa fa-reply"></i> 回复</a>
                        <a class="btn btn-sm btn-white" href="<gz$smarty.const.__APP__>?m=Index&c=Ucenter&a=maildetail&uid=<gz$uid>&mid=<gz$mes.page.next>"><i class="fa fa-arrow-right"></i> <gzif $mid eq $mes.page.next>没有下一封了！<esle>下一封<gz/if></a>
                        <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="打印这封邮件" class="btn btn-sm btn-white"><i class="fa fa-print"></i> 打印</button>
                        <button title="" data-placement="top" data-toggle="tooltip" data-original-title="删除邮件" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> 删除</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="<gz$smarty.const.__TPUBLIC__>/js/jquery.min.js?v=2.1.4"></script>
    <script src="<gz$smarty.const.__TPUBLIC__>/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="<gz$smarty.const.__TPUBLIC__>/js/content.min.js?v=1.0.0"></script>
    <script src="<gz$smarty.const.__TPUBLIC__>/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
        	$(".i-checks").iCheck({
        		checkboxClass:"icheckbox_square-green",
        		radioClass:"iradio_square-green"
        	});
        	$.ajax({
            	url:'index.php?m=index&c=message&a=ajaxnread',
            	type:"POST",
            	data:{'uid':<gz$uid>},
            	success:function(data){
            		console.log(1);
                	$('#mailnum').text(data);
                // $('#message').text(data);
            	}
        	});
        });
    </script>
</body>

</html>