body{background: #eee;color:#c16879;width:100%;margin:0px;border:0px;padding:0px;font-family:,"Adobe黑体","黑体","宋体",Arial;list-style-type:none;}
a:link,a:visited{text-decoration:none;color:#008800}
h1{display:none;}
#logo {height:43px;background:#454518;border-bottom:1px dashed #eee;}
#logo img{height:30px;margin:5px 10px;}
#e{background:#454537;height:42px;overflow:hidden;margin:0}
#e a{display:inline-block;text-align:center;line-height:42px;color:#A1A1A1;width:20%;font-size:16px;color:#f1f1f}
#e a#c{color:#3dd;font-size:17px}
#e img{float:left;}
/*沃の笑话*/
ul{padding:0px;font:14px/25px "";margin:7px;background:#FFF;box-shadow:0 1px 3px #B9B9B9;border-radius:0px;}
li{border-top:0px;border-bottom:1px dashed #4c4c;padding:5px;
background:#fff -webkit-gradient(linear,0 0,0 100%,from(#f1f1f4),to(#f2f2f2));
word-wrap:break-word;overflow:hidden;font-size:16px;color:#c16899;}
#font{padding:7px;margin:0;word-wrap:break-word;overflow:hidden;text-align:center;background:#fff -webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f9f9f9));}
.img{width:98%;box-shadow:0 1px 3px #B9B9B9;border:0;border-radius:1.9px;margin:2px;}
#zan{height:38px;width:100%;background-color:#f4f4f4}#zan a{display:block;float:left;box-sizing:border-box;width:33.334%;height:38px;line-height: 38px; text-align: center;font-size:16px}
#zan img{height:35%;width:15px;}
.zan{border-left:1px solid #CCC;border-right:0px solid #CCC;}
/*分页*/
nav{height:auto;background-color:#f4f4f4;margin:0}
nav a{display:inline-block;text-align:center;line-height:38px;color:#A1A1A1;width:20%;font-size:16px;}#sezhi{width:50%;}
#nav{background:#fff;}
#file {position: relative;top: 0;width: 100%; box-shadow: 2px 2px 2px rgba(0,0,0,0.2); z-index: 30;background:#fff -webkit-gradient(linear,0 0,0 100%,from(#f4f9f9),to(#ffff));}
#tishi {text-align:center;height:auto;position: fixed;top:50%;background-color:rgba(0,0,0,0.3);padding:10px;color:#fff;margin-left:45%;border-radius:3px;}#right{float:right;}
ul img{width:100%;}
/*底部*/
.footer {padding:10px;background:#fff;text-align:center;clear:both;float:none; }
.footer .banben {height: 30px;}
.footer .banben a {color:#f4f4f4;display:inline-block; font-size:15px;margin-left:12px;line-height:40px;}
.footer .banben a.a{background-color:rgba(0,0,0,.2);
border-radius:2px;color:white;height:30px;line-height:30px;width: 67px; }
.footer p{color:rgba(255,255,255,.77);font-size: 12px;height:22px;line-height:22px;padding:0 12px;}
.footer p a{color:#FFFFFF;}#top {bottom: 5%;position:fixed;right:5%;z-index:100;display:none;}