<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>格子原创平台-用心写自己的故事</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- loading stylesheet -->
	<link href="<gz$smarty.const.__TPUBLIC__>
	/Css/normalize.css" rel="stylesheet">
	<link href="<gz$smarty.const.__TPUBLIC__>/Css/gezicms.css?ver=1" rel="stylesheet">
	<link href="<gz$smarty.const.__TPUBLIC__>/Css/font-awesome.min.css?ver=6" rel="stylesheet">
	<script src="<gz$smarty.const.__TPUBLIC__>/js/jquery.min.js"></script>
	<script src="<gz$smarty.const.__TPUBLIC__>/js/gezi.js"></script>
	<script>
		$().ready(function(){

		});
	</script>
	<style>

</style>
</head>
<body>
	<!-- <gzarclist aid=1 row=1>
	[$field.link]
	<gz/arclist>
		-->
		<!-- 网站顶部 -->
		<header class="header">
			<div class="header-logo">
				<h3 class="logo">格子原创平台</h3>
				<span class="bat">用心写自己的故事</span>
			</div>
			<div class="header-left">
			<gzif isset($smarty.session.gz_username)>

				<div class="yp-header-message">
					<a class="bell" href="<gz$smarty.const.__APP__>?m=index&c=ucenter&a=mailbox&uid=<gz$smarty.session.gz_userid>"> <i class="ico"></i> <em class="count"></em>
					</a>
				</div>
				<div class="yp-header-user-box">
					<div class="yp-header-user">
						<div class="user-main">
							<div class="avatar">
								<img width="36" height="36" src="<gz$smarty.const.__TPUBLIC__>/image/noLogin.jpg" alt=""></div>
							<span class="nickname">用户</span>
							<span class="arrow"></span>
						</div>
						<div class="user-link">
							<ul>
								<li class="l3">
									<a href="<gz$smarty.const.__APP__>?m=index&c=ucenter&a=index&uid=<gzif isset($smarty.session.gz_userid)><gz$smarty.session.gz_userid><gzelse>0<gz/if>">
										<i></i>
										个人中心
									</a>
								</li>
								<li class="l4">
									<a href="#">
										<i></i>
										退出
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			<gzelse>
				<div class="login-box">
					<div class="login">
						<a href="index.php?m=index&c=login&a=login">登录</a>
					</div>
					<div class="register">
						<a href="index.php?m=index&c=login&a=register">注册</a>
					</div>
				</div>
				<gz/if>
			</div>
		</header>
		<!-- 导航条 -->
		<nav class="links">
			<ul>
				<li class="links-item <gzif !isset($smarty.get.cid)>select<gz/if>">
					<a href="index.php?m=index">首页</a>
				</li>
				<gzchanal row=3 type='top'>
					<li class="links-item chanal" cid=[$field.cid] gcid=<gzif isset($smarty.get.cid)><gz$smarty.get.cid><gz/if>>[$field.link]</li>
					<gz/chanal></ul>
					<div class="nav-search">
						<div class="nav-search-input">
							<input type="text" />
						</div>
						<span class="nav-search-btn fui-search"></span>
					</div>
				</nav>
				<!-- 公告 -->
				<div class="gznotice">
					<p class="notice">
						<span class="fui-volume"></span>
						请在Chrome、FireFox等现代浏览器中浏览本站内容，另外
						<a href="#">格子原创平台</a>
						正在开发中。。
					</p>
				</div>
				<!-- 主体内容区域 -->
				<div class="container mt10">
					<section class="left-container">