@charset "utf-8";

.replace-2x {
	font-size: 1px
}

@media all and (-webkit-min-device-pixel-ratio:2) {
	.deploy-left-sidebar {
		background-image: url(icon/nav.png);
		-webkit-background-size: 18px 12px
	}

	.deploy-right-sidebar {
		background-image: url(icon/contact.png);
		-webkit-background-size: 18px 12px
	}

	.nav-home {
		background-image: url(icon/home.png);
		-webkit-background-size: 51px 51px
	}

	.nav-about {
		background-image: url(icon/about.png);
		-webkit-background-size: 51px 51px
	}

	.nav-features {
		background-image: url(icon/features.png);
		-webkit-background-size: 51px 51px
	}

	.nav-portfolio {
		background-image: url(icon/folio.png);
		-webkit-background-size: 51px 51px
	}

	.nav-videos {
		background-image: url(icon/video.png);
		-webkit-background-size: 51px 51px
	}

	.nav-blog {
		background-image: url(icon/blog.png);
		-webkit-background-size: 51px 51px
	}

	.nav-mobile {
		background-image: url(icon/phone.png);
		-webkit-background-size: 51px 51px
	}

	.nav-sms {
		background-image: url(icon/chat.png);
		-webkit-background-size: 51px 51px
	}

	.nav-mail {
		background-image: url(icon/mail.png);
		-webkit-background-size: 51px 51px
	}

	.icon-heading {
		background-image: url(icon/heading.png);
		-webkit-background-size: 20px 20px
	}

	.deploy-share {
		background-image: url(icon/go-home.png);
		-webkit-background-size: 16px 16px
	}

	.deploy-menu {
		background-image: url(icon/nav-deploy.png);
		-webkit-background-size: 16px 16px
	}

	.swipe-null-box {
		background-image: url(icon/empty.png);
		-webkit-background-size: 16px 16px
	}

	.swipe-check-box {
		background-image: url(icon/cross.png);
		-webkit-background-size: 16px 16px
	}

	.swipe-tick-box {
		background-image: url(icon/tick.png);
		-webkit-background-size: 16px 16px
	}

	.list-address {
		background-image: url(icon/address_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-block {
		background-image: url(icon/block_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-bookmark {
		background-image: url(icon/bookmark_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-briefcase {
		background-image: url(icon/briefcase_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-bubble {
		background-image: url(icon/bubble_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-buy {
		background-image: url(icon/buy_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-calendar {
		background-image: url(icon/calendar_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-clipboard {
		background-image: url(icon/clipboard_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-delete {
		background-image: url(icon/delete_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-clock {
		background-image: url(icon/clock_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-diagram {
		background-image: url(icon/diagram_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-document {
		background-image: url(icon/document_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-down {
		background-image: url(icon/down_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-flag {
		background-image: url(icon/flag_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-folder {
		background-image: url(icon/folder_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-gear {
		background-image: url(icon/gear_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-globe {
		background-image: url(icon/globe_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-heart {
		background-image: url(icon/heart_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-help {
		background-image: url(icon/help_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-home {
		background-image: url(icon/home_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-key {
		background-image: url(icon/key_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-label {
		background-image: url(icon/label_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-left {
		background-image: url(icon/left_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-letter {
		background-image: url(icon/letter_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-monitor {
		background-image: url(icon/monitor_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-pencil {
		background-image: url(icon/pencil_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-plus {
		background-image: url(icon/plus_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-present {
		background-image: url(icon/present_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-print {
		background-image: url(icon/print_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-right {
		background-image: url(icon/right_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-save {
		background-image: url(icon/save_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-shield {
		background-image: url(icon/shield_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-statistics {
		background-image: url(icon/statistics_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-stop {
		background-image: url(icon/stop_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-tick {
		background-image: url(icon/tick_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-trash {
		background-image: url(icon/trash_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-up {
		background-image: url(icon/up_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-user {
		background-image: url(icon/user_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-walet {
		background-image: url(icon/wallet_32.png);
		-webkit-background-size: 16px 16px
	}

	.list-warning {
		background-image: url(icon/warning_32.png);
		-webkit-background-size: 16px 16px
	}

	.show-toggle-v5 {
		background-image: url(icon/minus.png);
		-webkit-background-size: 12px 12px
	}

	.hide-toggle-v5 {
		background-image: url(icon/plus.png);
		-webkit-background-size: 12px 12px
	}

	.show-toggle-v4 {
		background-image: url(icon/delete_32.png);
		-webkit-background-size: 16px 16px
	}

	.hide-toggle-v4 {
		background-image: url(icon/plus_32.png);
		-webkit-background-size: 16px 16px
	}

	.show-toggle-v3 {
		background-image: url(icon/switch-on.png);
		-webkit-background-size: 61px 27px
	}

	.hide-toggle-v3 {
		background-image: url(icon/switch-off.png);
		-webkit-background-size: 61px 27px
	}

	.show-toggle-v2 {
		background-image: url(icon/delete_32.png);
		-webkit-background-size: 16px 16px
	}

	.hide-toggle-v2 {
		background-image: url(icon/plus_32.png);
		-webkit-background-size: 16px 16px
	}

	.show-toggle-v1 {
		background-image: url(icon/minus.png);
		-webkit-background-size: 12px 12px
	}

	.hide-toggle-v1 {
		background-image: url(icon/plus.png);
		-webkit-background-size: 12px 12px
	}

	.checkbox-v1 {
		background-image: url(icon/checkbox.png);
		-webkit-background-size: 16px 18px
	}

	.checked-v1 {
		background-image: url(icon/checkbox-selected.png) !important;
		-webkit-background-size: 16px 18px
	}

	.checkbox-v2 {
		background-image: url(icon/checkbox2.png);
		-webkit-background-size: 16px 18px
	}

	.checked-v2 {
		background-image: url(icon/checkbox2-selected.png) !important;
		-webkit-background-size: 16px 18px
	}

	.checkbox-v3 {
		background-image: url(icon/empty.png);
		-webkit-background-size: 16px 16px
	}

	.checked-v3 {
		background-image: url(icon/cross.png) !important;
		-webkit-background-size: 16px 16px
	}

	.checkbox-v4 {
		background-image: url(icon/empty.png);
		-webkit-background-size: 16px 16px
	}

	.checked-v4 {
		background-image: url(icon/tick.png) !important;
		-webkit-background-size: 16px 16px
	}

	.radio-v1 {
		background-image: url(icon/radio.png);
		-webkit-background-size: 16px 18px
	}

	.balled-v1 {
		background-image: url(icon/radio-selected.png) !important;
		-webkit-background-size: 16px 18px
	}

	.radio-v2 {
		background-image: url(icon/radio2.png);
		-webkit-background-size: 16px 18px
	}

	.balled-v2 {
		background-image: url(icon/radio2-selected.png) !important;
		-webkit-background-size: 16px 18px
	}

	.green-notification p {
		background-image: url(icon/tick_32.png);
		-webkit-background-size: 16px 16px
	}

	.red-notification p {
		background-image: url(icon/delete_32.png);
		-webkit-background-size: 16px 16px
	}

	.blue-notification p {
		background-image: url(icon/info_32.png);
		-webkit-background-size: 16px 16px
	}

	.yellow-notification p {
		background-image: url(icon/warning_32.png);
		-webkit-background-size: 16px 16px
	}

	.header-notification strong {
		color: #666
	}

	.warning-notification em {
		background-image: url(icon/warning_32.png);
		-webkit-background-size: 16px 16px
	}

	.close-notification em {
		background-image: url(icon/delete_32.png);
		-webkit-background-size: 16px 16px
	}

	.heart-notification em {
		background-image: url(icon/heart_32.png);
		-webkit-background-size: 16px 16px
	}

	.calendar-notification em {
		background-image: url(icon/calendar_32.png);
		-webkit-background-size: 16px 16px
	}

	.info-notification em {
		background-image: url(icon/info_32.png);
		-webkit-background-size: 16px 16px
	}

	.posted-by {
		background-image: url(icon/user.png);
		-webkit-background-size: 12px 12px
	}

	.posted-at {
		background-image: url(icon/time.png);
		-webkit-background-size: 13px 12px
	}

	.posted-cat {
		background-image: url(icon/cat.png);
		-webkit-background-size: 16px 11px
	}

	.posted-tag {
		background-image: url(icon/tag.png);
		-webkit-background-size: 12px 12px
	}

	.posted-more {
		background-image: url(icon/more.png);
		-webkit-background-size: 17px 12px
	}
	.pic-show-warp{
		background: #FFF;
		width: 45%;
		display: inline-block;
		height: 120px;
		margin: 10px 5px;
		padding: 5px;
		box-shadow: 0 1px 4px rgba(0,0,0,0.2),0 1px 20px rgba(0,0,0,0.2) inset;
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2),0 1px 20px rgba(0,0,0,0.2) inset;
		-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2),0 1px 20px rgba(0,0,0,0.2) inset;
		-o-box-shadow: 0 1px 4px rgba(0,0,0,0.2),0 1px 20px rgba(0,0,0,0.2) inset;
		-mz-box-shadow: 0 1px 4px rgba(0,0,0,0.2),0 1px 20px rgba(0,0,0,0.2) inset;
	}
	.pic{
		width: 100%;
		height: 100%;
		box-shadow: 0 1px 4px rgba(0,0,0,0.2)
	}
.pic img{
	height: 100%;
	width: 100%;
}
}
;