.top-logo {
	position: relative;
	top: -32px;
	z-index: 99999;
	margin-right: auto;
	margin-left: auto;
	width: 125px;
}

input {
	border-radius: 0;
	-webkit-appearance: none;
}

.content-box {
	z-index: 10;
	padding-top: 70px;
	background-image: url(icon/body-bg.png);
	background-repeat: repeat;
}

.has-gallery {
	margin-right: 15px;
	margin-left: 15px;
}

.page-has-slider {
	padding-top: 00px;
}

.header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 50px;
	border-bottom: solid 1px #f9fafc;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.2);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
}

.deploy-left-sidebar {
	width: 50px;
	height: 50px;
/*	background-color: #f9fafc;
*/	background-image: url(icon/nav.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.deploy-right-sidebar {
	float: right;
	margin-top: -50px;
	width: 50px;
	height: 50px;
	background-image: url(icon/contact.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.deploy-back-home {
	float: right;
	margin-top: -50px;
	width: 50px;
	height: 50px;
	background-color: #f9fafc;
	background-image: url(icon/home.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.delete-right-sidebar {
	float: right;
	display: none;
	margin-top: -50px;
	width: 50px;
	height: 50px;
	background-color: #f9fafc;
	background-image: url(icon/contact.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.sidebar-left {
	position: fixed;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -270px;
	z-index: 99999;
	overflow: hidden;
	width: 270px;
	background-image: url(icon/sidebar-bg.png);
	background-repeat: repeat;
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.3);
}

.sidebar-scroll-left {
	left: 0;
	overflow: scroll !important;
	overflow-x: hidden !important;
	padding-right: 20px;
	width: 310px;
	height: 100%;
	-webkit-overflow-scroll: touch !important;
}

.sidebar-scroll-right {
	overflow: scroll !important;
	overflow-x: hidden !important;
	width: 290px;
	height: 100%;
	-webkit-overflow-scroll: touch !important;
}

.sidebar-right {
	position: fixed;
	top: 0;
	right: -280px;
	bottom: 0;
	z-index: 99999;
	overflow: hidden;
	margin-right: 10px;
	width: 270px;
	background-image: url(icon/sidebar-bg.png);
	background-repeat: repeat;
	box-shadow: -2px 0 2px 0 rgba(0,0,0,0.3);
}

.sidebar-decoration {
	margin-bottom: 15px;
	height: 2px;
	background-image: url(icon/sidebar-deco.png);
	background-repeat: repeat-x;
}

.sidebar-header-left {
	height: 51px;
	border-bottom: solid 1px #141719;
	background-color: #1d1f22;
}

.sidebar-left-logo {
	position: absolute;
	top: 9px;
	left: 38px;
}

.close-sidebar-left {
	display: block;
	margin-left: 220px;
	width: 50px;
	height: 50px;
	background-color: #212326;
	background-image: url(icon/accessdenied.png);
	background-position: 16px 18px;
	background-size: 17px 17px;
	background-repeat: no-repeat;
}

.sidebar-divider-text {
	margin-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
}

.home-nav {
	background-image: url(icon/home.png);
}

.info-nav {
	background-image: url(icon/infoabout.png);
}

.folio-nav {
	background-image: url(icon/image2.png);
}

.video-nav {
	background-image: url(icon/clapboard.png);
}

.blog-nav {
	background-image: url(icon/pencil.png);
}

.mail-nav {
	background-image: url(icon/mail.png);
}

.newsletter-nav {
	background-image: url(icon/rss.png);
}

.call-nav {
	background-image: url(icon/phonehook.png);
}

.text-nav {
	background-image: url(icon/speechbubble4.png);
}

.maps-nav {
	background-image: url(icon/maps.png);
}

.facebook-nav {
	background-image: url(icon/facebook.png);
}

.twitter-nav {
	background-image: url(icon/twitter.png);
}

.coach-nav {
	background-image: url(icon/help.png);
}

.nav-item:hover {
	background-color: #212326;
}

.nav-item {
	padding-left: 60px;
	height: 50px;
	border-top: solid 1px #25272a;
	border-bottom: solid 1px #141719;
	background-color: #1d1f22;
	background-position: 20px center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	color: #d2d2d2;
	text-shadow: 0 2px 0 rgba(0,0,0,1);
	font-weight: 700;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
	line-height: 49px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icon-active {
	position: absolute;
	top: 19px;
	left: 240px;
	display: block;
	width: 10px;
	height: 15px;
	background-image: url(icon/location@2x.png);
	background-size: 10px 15px;
	background-repeat: no-repeat;
}

.icon-page {
	position: absolute;
	top: 19px;
	left: 240px;
	display: block;
	width: 10px;
	height: 15px;
	background-image: url(icon/gopage@2x.png);
	background-size: 8px 11px;
	background-repeat: no-repeat;
}

.icon-drop {
	position: absolute;
	top: 19px;
	left: 239px;
	display: block;
	width: 10px;
	height: 15px;
	background-image: url(icon/godrop@2x.png);
	background-size: 11px 8px;
	background-repeat: no-repeat;
}

.submenu a {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 25px;
	background-image: url(icon/sidebar-deco.png);
	background-repeat: repeat-x;
	color: #878787;
	text-transform: uppercase;
	text-shadow: 0 2px 0 rgba(0,0,0,1);
	font-weight: 900;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
}

.submenu a em {
	float: left;
	display: block;
	margin-top: 5px;
	padding-right: 35px;
	width: 10px;
	height: 15px;
	background-image: url(icon/gopage@2x.png);
	background-size: 8px 11px;
	background-repeat: no-repeat;
}

.submenu a:first-child {
	background-image: none !important;
}

.submenu {
	display: none;
}

.submenu-active {
	display: block;
}

.nav-item-active {
	color: #fff !important;
}

.sidebar-notifications a {
	margin-bottom: 15px;
	margin-left: 20px;
	padding-left: 38px;
	background-position: 0 center;
	background-repeat: no-repeat;
	color: #878787;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
	line-height: 10px;
}

.info-sidebar {
	background-image: url(icon/update-news.png);
}

.update-sidebar {
	background-image: url(icon/update-blog.png);
}

.folio-sidebar {
	background-image: url(icon/update-folio.png);
}

.sidebar-bottom-controls {
	background-color: #1d1f22;
}

.sidebar-bottom-controls a p {
	margin-bottom: 2px;
	color: #878787;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
}

.sidebar-bottom-controls a {
	float: left;
	display: block;
	width: 32%;
	border-top: solid 1px #25272a;
	background-image: url(icon/sidebar-deco-vertical.png);
	background-repeat: repeat-y;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 10px;
}

.twitter-bottom {
	display: block;
	margin-top: -25px;
	height: 50px;
	background-image: url(icon/twitter.png);
	background-position: center 33px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.facebook-bottom {
	display: block;
	margin-top: -25px;
	padding-top: 26px;
	height: 50px;
	background-image: url(icon/facebook.png);
	background-position: center 33px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.close-bottom-left {
	display: block;
	margin-top: -25px;
	padding-top: 26px;
	height: 50px;
	background-image: url(icon/accessdenied.png);
	background-position: center 33px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.close-bottom-right {
	display: block;
	margin-top: -25px;
	padding-top: 26px;
	height: 50px;
	background-image: url(icon/accessdenied.png);
	background-position: center 33px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.sidebar-header-right {
	height: 50px;
	border-bottom: solid 1px #141719;
	background-color: #1d1f22;
}

.sidebar-right-logo {
	position: absolute;
	top: 18px;
	right: 40px;
}

.close-sidebar-right {
	display: block;
	margin-left: 0;
	width: 50px;
	height: 50px;
	background-color: #212326;
	background-image: url(icon/accessdenied.png);
	background-position: 16px 18px;
	background-size: 17px 17px;
	background-repeat: no-repeat;
}

.sidebar-form {
	display: none;
	box-sizing: border-box;
	margin-left: 20px;
	width: 230px;
}

.sidebar-form2 {
	display: none;
}

.sidebar-form label {
	padding-top: 10px;
	border-radius: 0 !important;
	color: #c5c5c5;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
}

.sidebar-form label span {
	color: #bcbcbc;
	text-transform: lowercase;
}

.sidebar-form input {
	border: solid 1px #3d3d3d;
	background-color: rgba(255,255,255,0.1);
}

.sidebar-form textarea {
	margin-bottom: 0;
	border: solid 1px #3d3d3d;
	border-bottom: 0;
	background-color: rgba(255,255,255,0.1);
}

.sidebar-send-button {
	display: block;
	width: 100%;
	color: #d2d2d2;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
}

.success-subscribe {
	margin-top: 20px;
	margin-left: 20px;
	width: 230px;
}

.sidebar-form {
	margin-top: -10px !important;
	margin-bottom: 0 !important;
}

.sidebar-form .formSuccessMessageWrap {
	margin-top: 20px;
	margin-bottom: 0;
	width: 230px;
}

.sidebar-form .small-notification {
	margin-top: 20px;
}

.sidebar-form #emailError {
	margin-top: 20px;
	margin-left: 20px;
	width: 230px;
	height: 36px;
	border-radius: 0;
}

.sidebar-form #emailError p {
	display: block;
	margin: 8px 0;
	padding-left: 0;
	background-image: none;
	color: #ff8181;
	text-align: center;
	text-transform: uppercase;
}

.sidebar-form #emailError2 {
	margin-top: 20px;
	margin-left: 20px;
	width: 230px;
	height: 36px;
	border-radius: 0;
}

.sidebar-form #emailError2 p {
	display: block;
	margin: 8px 0;
	padding-left: 0;
	background-image: none;
	color: #ff8181;
	text-align: center;
	text-transform: uppercase;
}

.subscribe-notification {
	margin-top: 20px !important;
	margin-bottom: -15px !important;
	margin-left: 20px;
	width: 230px !important;
	border-radius: 0 !important;
	background-image: none !important;
}

.subscribe-notification p {
	display: block;
	margin: 8px 0;
	margin-top: 20px;
	padding-left: 0;
	background-image: none !important;
	color: #ff8181 !important;
	text-align: center;
	text-transform: uppercase;
}

.formValidationError {
	margin-bottom: -15px;
}

.sidebar-form .formValidationError div {
	margin-top: 20px;
	margin-top: 20px !important;
	width: 230px;
	height: 36px;
	border-radius: 0 !important;
}

.sidebar-form .formSubmitButtonErrorsWrap {
	overflow: visible !important;
	margin-bottom: 20px;
}

.sidebar-form .formValidationError p {
	display: block;
	margin: 8px 0;
	padding-left: 0;
	background-image: none;
	color: #ff8181 !important;
	text-align: center;
	text-transform: uppercase;
}

.right-sidebar-copyright {
	margin-top: 20px;
}

.footer-text a {
	padding-top: 10px;
	color: #8a8a8a;
	font-size: 12px;
}

.copyright-sidebar {
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.has-full-folio {
	margin-top: -20px;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.has-full-folio .decoration {
	margin-right: 15px;
	margin-left: 15px;
}

.full-folio-item-caption {
	position: relative;
	z-index: 9999;
	display: block;
	margin-top: -60px;
	width: 100%;
	height: 60px;
	background-image: url(icon/dark.png);
	background-repeat: repeat;
}

.full-folio-item-caption h5 {
	padding-top: 10px;
	padding-left: 20px;
	color: #fff;
	text-shadow: 0 1px 3px #000;
}

.full-folio-item-caption p {
	padding-left: 20px;
	color: #fff;
	text-shadow: 0 1px 3px #000;
}

.full-folio-item-more {
	position: absolute;
	top: 14px;
	right: 15px;
	z-index: 99999;
	width: 32px;
	height: 32px;
	background-image: url(icon/link2.png);
	background-size: 32px 32px;
	background-repeat: no-repeat;
}
