<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 设置页面 viewport -->
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
	<!-- pages Title -->
	<title>幻影设计平台</title>
	<!-- Stylesheet Load -->
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/framework-style.css" rel="stylesheet" type="text/css">
	<link href="css/framework.css" rel="stylesheet" type="text/css">
	<link href="css/coach.css" rel="stylesheet" type="text/css">
	<link href="css/icons.css" rel="stylesheet" type="text/css">
	<link href="css/retina.css" rel="stylesheet" type="text/css" media="only screen and (-webkit-min-device-pixel-ratio: 2)" />

</head>
<body>
<div id="preloader">
    <div id="status">
        <p class="center-text">
            加载中…... <em>加载速度取决于你的网速快慢!</em>
        </p>
    </div>
</div>
<div class="header" id="header">
    <a href="#" class="deploy-left-sidebar"></a>
    <a href="#" class="deploy-right-sidebar"></a>
    <a href="#" class="top-logo">
        <img src="../../image/logo.jpg" class="replace-2x" width="125" alt="img">
    </a>
</div>
<!-- pages Contents -->
<div class="content-box shadow">
	<div class="content">
		<div class="container no-bottom">
			<!-- slder picture -->
			<div id="slider" class="swipe">
                <div class="swipe-wrap">
                    <div  class="wrap">
                        <img class="swipe-image responsive-image" src="images/1.jpg" alt="img">
                        <p class="swipe-text">使用简单</p>
                    </div>
                    <div class="wrap">
                        <img class="swipe-image responsive-image" src="images/2.jpg" alt="img">
                        <p class="swipe-text">瞬间建站</p>
                    </div>
                    <div class="wrap">
                        <img class="swipe-image responsive-image" src="images/3.jpg" alt="img">
                        <p class="swipe-text">安全稳定</p>
                    </div>
                    <div class="wrap">
                        <img class="swipe-image responsive-image" src="images/4.jpg" alt="img">
                        <p class="swipe-text">投入极低</p>
                    </div>
                </div>
                <ul id="position">
                    <li id="one"   class="on"></li>
                    <li id="two"   class=""></li>
                    <li id="three" class=" "></li>
                    <li id="four"  class=" "></li>
                </ul>
                <a href="#" class="prev-but-swipe">上页</a>
                <a href="#" class="next-but-swipe">下页</a>
            </div>
		</div>
		<div class="decoration"></div>
		<!-- 作品展示4 -->
		<div class="container">
			<div class="pic-show-2" id="pic-show">
				<div class="pic-show-warp">
					<p class="pic">
						<img src="images/001_295.jpg" />		
					</p>
					<p class="pictitle">图片介绍放这里</p>
				</div>
				<div class="pic-show-warp">
					<p class="pic">
						<img src="images/001_295.jpg" />		
					</p>
					<p class="pictitle">图片介绍放这里</p>
				</div>
				<div class="pic-show-warp">
					<p class="pic">
						<img src="images/001_295.jpg" />		
					</p>
					<p class="pictitle">图片介绍放这里</p>
				</div>
				<div class="pic-show-warp">
					<p class="pic">
						<img src="images/001_295.jpg" />		
					</p>
					<p class="pictitle">图片介绍放这里</p>
				</div>
			</div>
		</div>
		<div class="decoration"></div>
		<div class="container" id="info-1">
            <img class="column-icon" src="images/icon1@2x.png" width="85" alt="img">
            <h6 class="uppercase">客户为先</h6>
            <p class="no-bottom">尊重所有客户，随时随地维护富图视觉形象； 微笑面对投诉，积极主动的为客户解决问题；</p>
        </div>
        <div class="container" id="info-2">
            <img class="column-icon" src="images/icon2@2x.png" width="85" alt="img">
            <h6 class="uppercase">正直诚信</h6>
            <p class="no-bottom">敢于承担责任，勇于承认错误；客观反映问题，以作好工作、服务好客户和维护公司利益为己任；</p>
        </div>
        <div class="container" id="info-3">
            <img class="column-icon" src="images/icon4@2x.png" width="85" alt="img">
            <h6 class="uppercase">充满激情!</h6>
            <p class="no-bottom">认同富图视觉企业文化，具备强烈的主人翁意识，热爱自己的岗位；</p>
        </div>
        <div class="decoration"></div>

        <p class="center-text uppercase footer-text">
            Powered by
            <a href="http://mb.3ghy.com" target="_blank">幻影设计网</a>
            Copyright © 2014 - 2015
        </p>
	</div>
</div>
<div class="sidebar-left">
    <div class="sidebar-scroll-left">
        <div class="sidebar-header-left">
            <img src="../../image/silder-logo.png" class="sidebar-left-logo replace-2x" width="125" alt="img">
            <a href="#" class="close-sidebar-left"></a>
        </div>
        <p class="sidebar-divider-text">导航菜单</p>
        <a href="index.html" class="nav-item home-nav">
            网站首页 <em class="icon-active"></em>
        </a>
        <a href="#" id="submenu-one" class="nav-item info-nav">
            关于我们
            <em class="icon-drop"></em>
        </a>
        <div class="submenu submenu-one">
            <a href="intro.html">
                <em></em>
                公司简介
            </a>
            <a href="type.html">
                <em></em>
                样式列表
            </a>
            <a href="jquery.html">
                <em></em>
                jQuery
            </a>
            <a href="other.html">
                <em></em>
                Others
            </a>
            <a href="touch.html">
                <em></em>
                Touch
            </a>
        </div>
        <a href="#" id="submenu-two" class="nav-item folio-nav">
            作品展示
            <em class="icon-drop"></em>
        </a>
        <div class="submenu submenu-two">
            <a href="ffolio.html">
                <em></em>
                整列显示
            </a>
            <a href="onecol.html">
                <em></em>
                单列
            </a>
            <a href="twocol.html">
                <em></em>
                双列
            </a>
            <a href="swiper.html">
                <em></em>
                图片列表
            </a>
            <a href="filter.html">
                <em></em>
                图片展示
            </a>
        </div>
        <a href="video.html" class="nav-item video-nav">
            视频展示
            <em class="icon-page"></em>
        </a>
        <a href="blog.html" class="nav-item blog-nav">
            新闻资讯
            <em class="icon-page"></em>
        </a>
        <a href="contact.html" class="nav-item mail-nav">
            联系我们
            <em class="icon-page"></em>
        </a>
      <div class="sidebar-decoration"></div>
        <p class="copyright-sidebar">幻影设计网(mb.3ghy.com)||幻影特效网(3ghy.com)</p>
        <div class="sidebar-bottom-controls">
            <a href="#">
                <em class="twitter-bottom"></em>
                <p>微博</p>
            </a>
            <a href="#">
                <em class="facebook-bottom"></em>
                <p>微信</p>
            </a>
            <a href="#">
                <em class="close-bottom-left"></em>
                <p>邮箱</p>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- JavaScript load -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui-min.js"></script>
<script src="js/swipe.js"></script>
<script src="js/swipebox.js"></script>
<script src="js/hammer.js"></script>
<script src="js/colorbox.js"></script>
<script src="js/transition.js"></script>
<script src="js/framework.js"></script>
<script src="js/custom.js"></script>
<script>
$("#info-1").css("transform","translateX(-"+ window.innerWidth +"px);");
$("#info-2").css("transform","translateX("+ window.innerWidth +"px);");
$("#info-3").css("transform","translateX(-"+ window.innerWidth +"px);");
window.onscroll = function(){

    var sTop=document.body.scrollTop+document.documentElement.scrollTop,
        Efftect = true;

    addTansition("pic-show",".pic-show-warp",{opacity:1},{opacity:0});

    addTansition("info-1","#info-1",{x:0},{x:-window.innerWidth});
    addTansition("info-2","#info-2",{x:0},{x:window.innerWidth});
    addTansition("info-3","#info-3",{x:0},{x:-window.innerWidth});

    // header
    if(sTop > 60 && Efftect){
        //alert("a")
        $$("#header").transition({
            background:"rgba(0, 0, 0, 0.6)",
            scaleY:1,
        })
    }else{
        $$("#header").transition({
            background:"#FFF",
        });
         Efftect = true;
    }

    console.log(Efftect)
}
</script>
</body>
</html>